<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">OKR</a>
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'onboarding' %}">Naujas tikslas</a>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="nav-link btn btn-link">Atsijungti</button>
                    </form>
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}">Prisijungti</a>
                    <a class="nav-link" href="{% url 'signup' %}">Registracija</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <!-- Čia Django "įklijuos" tavo index.html turinį -->
        {% endblock %}
    </div>
</body>