{% extends "base.html" %}

{% block content %}


<h1 class="mt-4" xmlns:height="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">{{ objective.year }} m. Strategija: {{ objective.brand }}</h1>
<p class="lead text-muted">{{ objective.goal }}</p>

<h2 class="mt-5"> "{% now "m" %}" mėn. verslo rezultatai:</h2>

<div class="row" >

    {% for kr in objective.keyresult_set.all %}

        <div class="card m-1" style="width:400px">
            <div class="card-body">
                <i class="fa-solid {{ kr.icon_class }} card-img-top" style="font-size:48px;"></i>
                <h2 class="card-title">{{ kr.name }}</h2>
                {% for month_data in kr.monthresult_set.all %}
                    {% if month_data.month == current_month_num %}
                        <div class="results" >
                            <h5>Mėnesio tikslas: {{ month_data.planned_result }}</h5>
                            <h5>Mėnesio faktas: {{ month_data.actual_result }}</h5>
                            <h5>Mėnesio progresas: {{ month_data.achievement_percentage|floatformat:1 }}%</h5>
                        </div>
                        <div class="progress" style="height: 20px;">
                            <div class="progress-bar bg-success" style="width: {{ month_data.achievement_percentage }}%"></div>
                        </div>
                        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                        <a href="{% url 'action_items' objective.year month_data.month month_data.id %}" class="btn btn-primary">See Action Items</a>


                    {% endif %}
                {% empty %}
                    <p>Duomenų nėra.</p>
                {% endfor %}
            </div>
        </div>
     <br>
    {% endfor %}

</div>


{% endblock %}